a{
    color: #17a2b8;
    background-color: white;
    border-color: white;
    text-decoration: none;
}
a:hover{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.button{
    margin-right: 10%;

}
a:focus{
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.table{
    width: 100%;
    height: 20%;
    margin: 5px auto;
    text-align: center;
}
.table .thead-dark th {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    width: 200px;
}
.btn-sm{
    color: #fff;
    background-color: red;
    border-color:orangered;
}
.btn-sm:hover{
    color: red;
    background-color: white;
    border-color:red;
}