<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/add.css"/>
    <title>新增一笔</title>
</head>
<body>
<div id="box">
    <script src="../js/vue.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <form v-on:submit.prevent="doSubmit">

    <div>
        <label>收支类型</label>
        <select>
            <option v-for="a in typeidlist" v-bind:value="a.typeid">{{a.typename}}</option>
        </select>
    </div>


    <div>
        <label>分类名</label>
        <select>
            <option v-for="b in type" v-bind:value="b.typeid">{{b.typename}}</option>
        </select>
    </div>


    <div>
        <label>金额</label>
        <input type="text" placeholder="请输入金额（元）" v-model="data.accountmoney">
    </div>


    <div>
        <label>备注</label>
        <input type="text" placeholder="备注" v-model="data.marktext">
    </div>


        <button type="submit" id="submitbutton" class="btn btn-primary">提交</button>
        <input type="button" class="back" onclick="javascript:history.back(-1)"value="取消">

    </form>
</div>

<script>
    var vm = new Vue({
            el:"#box",
            data: {
                typeidlist:[
                    {typeid:0,typename:收入},
                    {typeid:0,typename:支出
                ],
                data: [],
                type:[]
            },
            mounted: function () {
                axios.get("/data/list").then(resp => this.data= resp.data);
                axios.get("/type/list").then(resp => this.type= resp.data);
            },
            methods: {
                doSubmit: function () {
                    axios.get("/data/add", {
                        params: this.data}).then(resp => {
                        if (resp.data == '1') {
                            alert('插入成功');
                            location.href = 'list.html';
                        }
                    })
                }
            }

        })
</script>
        </body>
    </html>