<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账单详情</title>
    <link rel="stylesheet" href="..\bootstrap-4.6.1-dist\css\bootstrap.min.css">
    <script src="../js/vue.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/button.js"></script>
</head>
<body>
<div id="app" class="content">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">编号</th>
            <th scope="col">内容</th>
            <th scope="col">收支</th>
            <th scope="col">账目标题</th>
            <th scope="col">收支金额</th>
            <th scope="col">账目备注</th>
            <th scope="col">记录时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="data in accountdata">
            <th scope="row">{{data.accountid}}</th>
           <!-- <td v-for="t in types" >
                <td v-if="t.typeid == data.typeid">{{t.typename}}</td>
            </td>-->
            <td>{{data.typeid}}</td>
            <td>{{accounttype[data.accounttype]}}</td>
            <td>{{data.accounttitle}}</td>
            <td>{{data.accountmoney}}</td>
            <td>{{data.marktext}}</td>
            <td>{{data.accounttime}}</td>
            <td>
                <button type="button" class="btn btn-danger" v-on:click="doDel(data.accountid)">删除</button>
                <a class="btn btn-primary" v-bind:href="'update.html?id='+data.accountid">修改</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            accounttype:[
                "支出",
                "收入"
            ],
            types:[],
            accountdata:[]
        },
        mounted:function (){
            axios.get("/data/list")
                .then(resp => this.accountdata = resp.data)
            axios.get("/type/list").then(resp => this.types = resp.data)
        },
        // 删除
        methods: {
            doDel: function (id) {
                axios.get("/data/delete?id="+ id).then(resp =>
                {
                    alert('删除成功' + resp.data);
                    location.href=("list.html")
                })
            }
        }

    })
</script>


</div>

</body>
</html>