<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/add.css"/>
    <title>修改</title>
    <link rel="stylesheet" href="..\bootstrap-4.6.1-dist\css\bootstrap.min.css">
    <script src="..\js\vue.min.js"></script>
    <script src="..\js\axios.min.js"></script>
</head>
<body>
<div style="margin-left: 50px;margin-right: 50px;margin-top: 50px" id="app">
    <form v-on:submit.prevent="doSubmit">
        <div class="form-group">
            <label for="exampleFormControlInput1">账目标题</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" v-model="info.accounttitle">
        </div>
        <div class="form-group">
            <label>收支类型</label>
            <select class="form-control" class="form-control" v-model="info.accounttype">
                <option v-bind:value="1">收入</option>
                <option v-bind:value="0">支出</option>
            </select>
        </div>
        <div class="form-group">
            <label>内容分类</label>
            <select class="form-control" class="form-control" v-model="info.typeid">
                <option v-for="t in type" v-bind:value="t.typeid">{{t.typename}}</option>
            </select>
        </div>
        <div class="form-group">
            <label >收支金额</label>
            <input class="form-control" type="text" v-model="info.accountmoney">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">备注</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="info.marktext"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">确定修改</button>

    </form>

</div>

<script>
    var vm = new Vue({
        el:"#app",
        data: {
            type:[],
            info:[]
        },
        mounted: function () {
            var id = location.href.split("=")[1];
            axios.get("/type/list").then(resp => this.type= resp.data);
            axios.get("/data/getone?id="+id).then(resp => this.info = resp.data)
        },
        methods: {
            doSubmit: function () {
                axios.get("/data/update", {
                    params: this.info
                }).then(resp => {
                    if (resp.data == '1') {
                        alert('修改成功');
                        location.href = "list.html";
                    }else {
                        alert("失败")
                    }
                })
            }
        }

    })
</script>

        </body>
    </html>