<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/add.css"/>
    <title>修改</title>
</head>
<body>
<div id="box">

    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>

    <div>
        <label>收支类型</label>
        <select>
            <option v-for="data in datalist" v-bind:value="data.id">{{data.type}}</option>
        </select>
    </div>


    <div>
        <label>分类名</label>
        <select>
            <option v-for="data in datalist" v-bind:value="data.id">{{data.name}}</option>
        </select>
    </div>


    <div>
        <label>金额</label>
        <input type="text" placeholder="请输入金额（元）" v-model="info.money">
    </div>


    <div>
        <label>备注</label>
        <input type="text" placeholder="" v-model="info.note">
    </div>


    <input id="submit" type="submit" value="确认">


</div>

<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var vm = new Vue({
        el:"#box",
        data:{
            info:{}
        },
        mounted: function () {
            axios.get("/data/list").then(resp => this.datalist = resp.data);
            var id =location.href.split("=")[1];
            axios.get("/data/getone?id="+id).then(resp=>{
                console.log(resp.data);
                this.info=resp.data
            });
        },
        methods:{
            doSubmit:function () {
                axios.get("/data/doUpdate",{
                    params:this.info
                }).then(resp => {
                    if(resp.data=='1'){
                        alert('插入成功');
                        location.href = 'statistics.html';//返回到list页面
                    }
                })
            }
        }

    })

</script>

</body>
</html>